.slider {
  position: absolute;
  top: 0;
  left: calc(50% - 1920px / 2);
  width: 1920px;
  height: 750px;
  background: $color-secondary;

  .leftBackgroundShape {
    position: absolute;
    top: 60px;
    left: calc(50% - 630px / 2 - 405px);
    width: 630px;
    height: 630px;
  }

  .rightBackgroundShape {
    position: absolute !important;
    top: 60px;
    left: calc(50% - 690px / 2 + 415px);
    width: 690px;
    height: 630px;
  }
}
